<div class="container">
    <div *ngIf="renderedView" class="details-header">
        <h1>{{title}}</h1>
        <p>{{body}}</p>
    </div>
</div>

<section id="article">
    <div class="container">
        <div class="table-post">
            <div *ngIf="renderedView" class="table-post-header">
                <h3>Comment Section</h3>
                <p>Search: <input (keyup)="applyFilter($event.target.value)" placeholder="Name / Email / Comment"></p>
            </div>

            <hr>

            <div>
                <!-- notActive is a reference to else -->
                <div *ngIf="availability; else showThis">
                    <div class="comment-section" *ngFor="let object of commentBodyFiltered">
                        <div class="comment-header">
                            <div class="comment-name">
                                <p><span>Name  : </span>{{object.name}} </p>
                            </div>
                            <div class="comment-email">
                                <p><span>Email : </span>{{object.email}}</p>
                            </div>
                        </div>
                        <div class="comment-body">
                            <p>{{object.body}}</p>
                        </div>

                        <hr>

                    </div>
                </div>
                <ng-template #showThis>
                    <p>{{errorMessage}}</p>
                </ng-template>
            </div>


            <!-- <div *ngIf="!availability">
                <p>{{errorMessage}}</p>
            </div>
            <div *ngIf="availability">
                <div class="comment-section" *ngFor="let object of commentBodyFiltered">
                    <div class="comment-header">
                        <div class="comment-name">
                            <p><span>Name  : </span>{{object.name}} </p>
                        </div>
                        <div class="comment-email">
                            <p><span>Email : </span>{{object.email}}</p>
                        </div>
                    </div>
                    <div class="comment-body">
                        <p>{{object.body}}</p>
                    </div>

                    <hr>

                </div>
            </div> -->
        </div>
    </div>
</section>